<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SBHack 2019 Supply Chain ID - Real time feed</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="shortcut icon" href="static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <style type="text/css">
      h4, h5 { margin-bottom: 0; }
      h5 { margin-top: .5rem; }
      pre { white-space: pre-wrap; }
    </style>
    <meta http-equiv="refresh" content="3">
  </head>
  <body>
    <div class="container-fluid px-0">
      <table class="table table-hover">
        {{#each transactions}}
        <tr>
          <td>
            <h4>Block #{{blockNumber}}</h4>
            <small class="text-muted">{{blockHash}}</small>
            <h5>
              Transaction
              <span class="badge badge-pill badge-light small">{{since}}</span>
            </h5>
            <code><small>{{transactionHash}}</small></code>
            <br>
            <strong>Event</strong>
            <pre>{{payload}}</pre>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>
